
.vs/slnx.sqlite
.vs/NaggerWebsite/FileContentIndex/d2ce3db3-2c2c-4942-9579-034f2cf5488f.vsidx
.vs/NaggerWebsite/FileContentIndex/f78a4c1d-739a-49c7-be19-4883c162e75b.vsidx
*.vsidx
.vs/NaggerWebsite/v17/.wsuo
.vs/VSWorkspaceState.json
