@font-face {
    font-family: "Comic";
    src: url("Wigglye.ttf") format('truetype');
}

body {
    background-color: #000;
    color: #ffff;
    font-family: Comic; 
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    
}

.quote-container {
    text-align: center;
    padding: 100px;
    margin-top:10px;
    align-self: center;
}

button {
    align-self: center;
    background-color: #000;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.author {
    font-size: 60px;
    font-style: italic;
    color: #fff;
}

.credit {
    text-align: left;
    font-family: Roboto;
    margin-left: 10px;
    font-size: 14px;
}

.github {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-family: Roboto;
    font-size: 14px;

}